@font-face {
    font-family: "NSMB";
    src: url("ninnsmb.ttf");
}
@font-face {
    font-family: "DIN";
    src: url("din.ttf");
}

body {
    font-family: "DIN";
}

button,.button {
    font-family: "DIN";
    font-weight: 900;
}
.menu-header{
    font-family: "DIN";
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}